.search-input {
  display: inline-flex;
  position: relative;
  border-radius: 12px;
  padding: 5px 12px;
  border: 1px solid #EFF0F1;
  width: 300px;
  height: 40px;
  background-color: #ffffff;

  input {
    border: none;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  .search-icon {
    padding: 3px 0;
    margin-right: 5px;
  }
}